.container {
      width :100%;
        max-width: 1200px;
    position: relative;
}

body  {
        font-size:5em;
}

#chat_box {
float:left;
width:100%;
color:red;
}

.question {
    display: table;
    width: 100%;
/*   min-height: 3em;*/
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.question > * {
    float: left;
    font-size: 0.5em;
    display: table-cell;
    vertical-align: middle;
/*    padding: 0;*/
}
.question p{


    padding-top: 1%;
/*    font-size: 0.3em;*/
    max-width: 100%;
}

.question .button{
    float:right;


}
button {
    font-size: 0.5em;
    width: 100%;
}



